body {
    min-height: 100vh;
    background-color: #f3f3f7;
}

.btn {
    background-color: #25A09F;
    border: none;
    border-radius: 999px;
    font-size: 1.3rem;
    color: black;
    min-width: 250px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.btn:hover {
    background-color: #568f91;
    color: white;
}

.btn-secondary {
    background-color: #cbe4e4;
}

.btn-learninggoals {
    background-color: #cbe4e4;
    padding: 8px;
    font-size: 1.2rem;
    min-width: none;
}

.btn-secondary:hover,
.btn-learninggoals:hover {
    background-color: #ccdbdb;
    color: black;
}

h1 {
    font-size: 2.3rem;
}

.sidebar {
    background-color: #ebebef;
    min-height: calc(100vh - 94px);
}

.remove-btn {
    border: none;
    background: transparent;
    color: #999;
    font-size: 1.6rem;
    line-height: 1;
    border-radius: 8px;
    width: 34px;
    height: 34px;
}

.remove-btn:hover {
    color: rgb(228, 3, 3);
}

.remove-icon {
    margin-top: -5px;
}